.custom_modal { position: absolute; width: 100%; min-height: 100%; background-color: rgba(0, 62, 72, 0.8); z-index: 1; }
.custom_modal h1, .custom_modal h2, .custom_modal h3, .custom_modal h4, .custom_modal h5, .custom_modal h6 { font-family: 'Oswald', 'sans-serif'; }
a.txtonimgbtn-link { cursor: pointer; }
div[class*="box_ip"] { display: none; overflow: auto; z-index: 10; -webkit-overflow-scrolling: touch;}
div[class*="box_ip"] { background-color: lightcyan; width: 80%; margin: 2% auto; padding: 0.2em 1em 0.5em; border-radius: 5px; }
a:focus { outline: 0 none;  }
div[class*="box_ip"] .close-icon.fa.fa-times, span.fa-times { position: absolute; top: 0; right: 0; padding: 15px; color: black; }
span.fa-times { color: white; padding-left: 5px; }
.btn-xs.fa-times { font-size: 8px; bottom: 0; }
button.close-content { margin-bottom: 20px; }

/* -----Mobile----- */
@media screen and (max-width: 675px) {
div[class*="box_ip"] { position: fixed; top: 5px; margin: auto; width: 100%; height: auto; overflow: auto; z-index: 101; }
.custom_modal { position: fixed; top: 0; bottom: 0; right: 0; left: 0; }
span.fa-times { display: none !important; }
div[class*="box_ip"] .fa.fa-times { color: black; }
}



